.is-visible {
  display: block !important;
}

.is-hidden {
  display: none !important;
}

.calculator-content {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 40px;
    width: 100%;
  }
}

.form-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.calculator-input-eu,
.calculator-wrapper-input-usd {
  width: 40% !important;
}

.calculator-button {
  font-weight: bold;
  height: 49px;
  margin-top: 20px;
  width: 320px;
  font-size: 17px !important;
}

.calculator-wrapper-input-usd {
  display: flex;
  flex-direction: column;
}

.calculator-field-input-usd {
  display: flex;
  height: 34px;
  justify-content: space-around;
}

.calculator-input-usd,
.calculator-input-eu {
  width: 100% !important;
  font-size: 16px !important;
}

.calculator-wrapper-input-eu {
  display: flex;
  height: 34px;
  justify-content: space-around;
  width: 40%;
}

.calculator-label-eu,
.calculator-label-usd {
  font-size: 25px !important;
  width: 38px;
}

@media only screen and (max-width: 768px) {
  .form-group {
    flex-direction: column;
  }

  .calculator-wrapper-input-usd,
  .calculator-wrapper-input-eu {
    width: 100% !important;
  }

  .calculator-wrapper-input-usd {
    margin-bottom: 24px;
  }
}